.Home-layout{
    background-color: rgb(1, 58, 58);
    min-height: 100vh;
}
.Home-layout__navbar{
    display: flex;
    
}
.Home-layout__navbar__logo{
    color:white;
}
.Home-layout__hamburger-icon{
display: none;
  }
.Home-layout__navbar__side{
    display: flex;
    gap:10vh;
    font-weight: 500;
    color:white;
    padding:4vh;
    float: right;
margin-left: auto;
}
.Home-layout__navbar__side__signIn{
    font-weight: 400;
padding-left: 3vh;
padding-right: 3vh;
border: 1px solid aqua;

    padding: auto;
    color: aqua;
    
}
.Home-layout__searchHotels{
    border:1px solid white;
width:50%;
}

@media only screen and (max-width: 600px){
    .Home-layout__navbar__side{
    display: none;
        
    }
  .Home-layout__hamburger-icon{
    display: block;
    padding:3vh;
    margin-left: auto;
    font-weight: 600;
    font-size: 23px;
    color:white;
  }

 .active a{

 }
}
.Home-layout__sidebar{
    position: absolute;
    right:0;
    padding:4vh;
    width: 0%;
    top:0;
    height: 0%;
    display: none;
    flex-direction: column;
    gap:10vh;
    transition: 2s;
    overflow: hidden;
}

.active{
    position: absolute;
    right:0;
    padding:4vh;
    width: 30%;
    top:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:10vh;
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0.441);
    
}
.active a{
    font-weight: 600;
    padding:1vh;
}
.Home-layout__sidebar__button{
    background-color: rgba(255, 0, 0, 0.242);
    position: absolute;
    right:0;
    border-radius: 50%;
    color: black;
  
 
}
.active a:hover{
    font-weight: 600;
    padding:1vh;

}